// UNITS

$unit-pixel: (
  "prefix": "px",
  "values": (0 1 2 4 8 16 32 64),
) !default;

$unit-percentage: (
  "prefix": "pr",
  "values": (10% 20% 25% 30% 40% 50% 60% 70% 75% 80% 90% 100%),
) !default;

$unit-character: (
  "prefix": "ch",
  "values": (30ch 50ch 70ch 90ch 120ch),
) !default;

$unit-viewheight: (
  "prefix": "vh",
  "values": (25vh 40vh 50vh 60vh 75vh 80vh 100vh),
) !default;

$unit-viewwidth: (
  "prefix": "vw",
  "values": (25vw 40vw 50vw 60vw 75vw 80vw 100vw),
) !default;

$unit-em: (
  "prefix": "em",
  "values": (50em 75em 90em),
) !default;

$unit-rem: (
  "prefix": "rem",
  "values": (50rem 75rem 90rem),
) !default;


// BREAKPOINTS

$breakpoints: (
  'sm': 600px,
) !default;


// COLOR THEMES

$theme-default: (
  "name": "default",
  "background": #0D1117,
  "color": #C9D1D9,
  "border": #C9D1D9,
) !default;

$themes: (
  $theme-default,
) !default;

// FONTS

$font-size-property: (
  "type": "values",
  "property": "font-size",
  "prefix": "fs",
  "values": (
    'u5': 2em,
    'u4': 1.7511em,
    'u3': 1.5157em,
    'u2': 1.3195em,
    'u1': 1.1487em,
    '0': 1em,
    'd1': 0.8706em,
    'd2': 0.7579em,
    'd3': 0.6599em,
    'd4': 0.5745em,
    'd5': 0.5em,
  ),
) !default;

$font-weight-property: (
  "type": "values",
  "property": "font-weight",
  "prefix": "fw",
  "values": (
    'u3': 700,
    'u2': 600,
    'u1': 500,
    '0': 400,
    'd1': 300,
    'd2': 200,
    'd3': 100,
  ),
) !default;

// Baseline info: https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
$font-georgia: (
    "family": Georgia,
    "font-size": 16px,
    "line-height": 22px,
) !default;

$font-default: $font-georgia !default;

// TEXT

$text-align-property: (
  "type": "values",
  "property": "text-align",
  "prefix": "ta",
  "values": (
    "l": "left",
    "r": "right",
    "c": "center",
    "j": "justify",
  )
) !default;


// WIDTH

$
